@import './reset';
@import './variables';
@import './utilities';

/* FONT */
@import './abstract/fonts/inter';

#checkoutMinimal {
    main {
        width: min(900px, 100%);
        margin-inline: auto;
    }

    /* Enforce our styles over third party stuff */
    font-family: $font !important;
    color: $clr-black !important;
    ul, ol {
        list-style: none;
    }
    button {
        font-family: $font;
        background: none;
        border: none;
        cursor: pointer;
    }
    a, input, select, option {
        font-weight: unset;
    }
    :where(h1, h2, h3, h4, h5, h6) {
        font-size: inherit;
        font-weight: unset;
    }
    :where(img, svg, video, picture, figure, iframe, canvas) {
        max-width: 100%;
    }
    /* Utility classes */
    .sr-only {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        white-space: nowrap !important;
        border-width: 0 !important;
    }
    .btn {
        padding: $padding-small $padding-big;
        color: $clr-white;
        background: var(--clr-primary);
        border: none;
        border-radius: $border-radius-small;
        cursor: pointer;
    }

    header {
        background: var(--clr-primary);
    }

    .innerHeader {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem;
        a {
            color: $clr-white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &.propertyName {
                font-size: 1.25rem;
                font-weight: $fw-bold;
                &:hover {
                    text-decoration: none
                }
            }
        }
    }

    .checkoutMainContainer {
        @extend %container;
        padding-block: 1rem;
        display: grid;
        grid-template-columns: 1fr minmax(300px, 35%);
        gap: calc($formGap / 2);

        /* Progress bar */
        .checkoutProgress {
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: $formGap;

            // Step counter (it's overriden by checkmarks when a step is completed)
            & .step .circle::before {
                font-size: $fs-20;
                color: var(--clr-primary);
            }
            & .step:nth-of-type(1) .circle::before {
                content: '1';
            }
            & .step:nth-of-type(2) .circle::before {
                content: '2';
            }
            & .step:nth-of-type(3) .circle::before {
                content: '3';
            }

            .step {
                display: flex;
                align-items: center;
                gap: $formGap;
                .circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    aspect-ratio: 1;
                    height: 25px;
                    background-color: $clr-white;
                    outline: 1px solid var(--clr-primary);
                    border-radius: $round;
                    @media (width <= 22rem) {
                        display: none;
                    }
                }
                &.completed .circle {
                    color: $clr-white;
                    background-color: var(--clr-primary);
                    outline: none;
                    &::before {
                        content: '✓' !important;
                        color: $clr-white;
                    }
                }
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 3px;
                bottom: 0;
                background: var(--clr-primary);
            }
            &::before {
                width: 33%;
                left: 0;
            }
            &::after {
                width: 67%;
                right: 0;
                opacity: 0.25;
            }
            
            &.finalize {
                &::before {
                    width: 66%;
                    left: 0;
                }
                &::after {
                    width: 34%;
                }
            }
        }

        .sectionTitle {
            margin-block: calc($formGap * 1.5);
            font-size: $fs-22;
            font-weight: normal;
        }
        .roomInfoContainer {
            display: grid;
            grid-template-columns: 35% 1fr;
            margin-bottom: 20px;
            outline: 1pt solid $clr-gray-light;
            border-radius: $border-radius-regular;
            overflow: hidden;
            .roomInfo {
                padding: calc($padding-regular *2);
                .roomInfoTitle {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    flex-wrap: wrap;
                    gap: calc($formGap / 2);
                    margin-bottom: 15px;
                    .roomInfoName {
                        font-size: $fs-22;
                    }
                    .roomInfoOccupancy {
                        font-size: $fs-14;
                        color: $clr-gray-regular;
                    }
                }
                .roomInfoDescription {
                    max-height: 80px;
                    font-size: $fs-14;
                    color: $clr-gray-dark;
                    line-height: 1.25;
                    scrollbar-width: thin;
                    overflow: hidden;
                    display: none;
                }
            }
            .roomPic {
                height: 100%;
                aspect-ratio: 8/5;
                object-fit: cover;
                object-position: center;
            }
        }

        > div {
            height: fit-content;
            border-radius: $border-radius-regular;
            overflow: hidden;
            outline: 1pt solid $clr-gray-light;
            .sectionTopBar {
                padding: calc($padding-big * 0.75) $padding-regular;
                font-size: $fs-20;
                background-color: $clr-gray-lighter;
            }
            section {
                padding: $padding-big;
                outline: 1pt solid $clr-gray-light;
            }
        }
    }

    #bookingSummary {
        background: white;
        section {
            .stayDates {
                font-size: $fs-20;
            }
            .summaryInfoSmall {
                font-size: $fs-14;
                color: $clr-gray-regular;
                &.privacyPolicy {
                    display: block;
                    margin-top: 10px;
                    text-align: center;
                    a {
                        color: inherit;
                        text-decoration: underline;
                    }
                }
                &.stayOcc {
                    flex-wrap: wrap;
                    gap: calc($formGap / 2)
                }
            }
            .summaryRow {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-block: $padding-regular;
            }
            #summaryDetailsButton {
                position: relative;
                .summaryArrow {
                    position: absolute;
                    top: 0;
                    right: -20px;
                    display: block;
                }
                &.open .summaryArrow {
                    transform: rotate(-0.5turn);
                }
            }
            .summaryDetails {
                margin-block: 5px;
                
                /* "Accordion" animation */
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows $transition-time;
                > div {
                    overflow: hidden;
                }
                &.open {
                    grid-template-rows: 1fr;
                }

                .deleteThis {
                    color: $clr-red;
                }
                .summaryRow {
                    font-size: $fs-16;
                }
                .summarySeparator {
                    display: block;
                    margin: 10px auto;
                    width: 90%;
                    height: 2px;
                    background: $clr-gray-regular;
                }
            }
            .totalFinal {
                font-size: $fs-22;
            }
        }
    }

    #checkoutForm {
        fieldset {
            border: none;
            padding: 0;
            .labelText {
                display: block;
                margin-bottom: $padding-regular;
                font-size: $fs-16;
                font-weight: 400;
                color: $clr-black;
            }
            :is(input, select, textarea) {
                float: none;
                font-family: $font;
                font-size: $fs-16;
                font-weight: normal;
                color: $clr-gray-dark;
                border: none;
                &:read-only:not(select),
                &.disabled /* for SELECT html tags */ {
                    background: none !important;
                    outline: none !important;
                    padding-inline: 0 !important;
                    border-radius: 0 !important;
                    resize: none !important;
                    pointer-events: none !important;
                    color: $clr-gray-regular !important;
                }
            }
            /* Chrome, Safari, Edge, Opera */
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            /* Firefox */
            input[type="number"] {
                -moz-appearance: textfield;
            }
            input[type="checkbox"]:checked {
                accent-color: var(--clr-primary);
            }
            textarea {
                resize: vertical;
                min-height: 1.75rem;
                max-height: 7.5rem;
            }
        }

        /* GUEST INFO */
        .formControls {
            display: flex;
            align-items: baseline;
            gap: $formGap;
            #editFormButton {
                color: $clr-gray-regular;
                border-bottom: 1pt solid $clr-gray-regular;
                .pencilIcon {
                    height: 10px;
                }
            }
        }
        .formRow {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: $formGap;
            margin-block: $formGap;
            > label {
                /* Keeps uniformity when the form adapts responsively */
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 175px;
                > :is(input, select, textarea) {
                    width: 100%;
                    padding: $padding-small;
                    background: $clr-white;
                    border-radius: $border-radius-small;
                    outline: 1pt solid $clr-gray-light;
                }
            }
        }

        /* ROOM OPTIONS AND EXTRAS */
        .addonContainers {
            margin-block: $formGap;
            display: flex;
            justify-content: space-evenly;
            gap: $formGap;
            flex-wrap: wrap;
            .addonContainer {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 300px;
                outline: 1pt solid $clr-gray-light;
                border-radius: $border-radius-small;
                overflow: hidden;
                &.extra {
                    padding-left: calc($formGap / 2);
                    .addonDetails {
                        padding-right: 1rem;
                    }
                }
                &.option {
                    padding: calc($formGap / 2);
                }
                &.hasPic {
                    display: grid;
                    grid-template-columns: 1fr 70%;
                    gap: calc($formGap / 2);
                    padding: 0;
                    .addonPic {
                        height: 100%;
                        aspect-ratio: 4/3;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .addonDetails {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    gap: $formGap;
                    height: 100%;
                    padding-block: $padding-small;
                    .addonTitle {
                        display: block;
                        font-size: $fs-20;
                    }
                    .addonPrice {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .addonPriceAmount {
                        font-size: $fs-18;
                    }
                    .addonInfoSmall {
                        font-size: $fs-14;
                        color: $clr-gray-regular;
                    }
                    .controlsContainer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 110px;
                        .addonControl {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20px;
                            height: 20px;
                            font-size: $fs-22;
                            color: var(--clr-primary);
                            outline: 2pt solid var(--clr-primary);
                            border-radius: $round;
                            cursor: pointer;
                            &:disabled {
                                background: none;
                                color: $clr-gray-light;
                                outline: 2pt solid $clr-gray-light;
                                cursor: auto;
                            }
                        }
                        label {
                            width: 2.5rem;
                        }
                        .addonNumberInput {
                            width: 100%;
                            padding-bottom: 0.25rem;
                            font-size: $fs-20;
                            text-align: center;
                            border-bottom: 1pt solid $clr-gray-dark;
                        }
                    }
                    input[type="checkbox"] {
                        display: none !important;
                    }
                    .addonbtn {
                        display: block;
                        padding: calc($padding-small / 3) $padding-regular;
                        min-width: 110px;
                        font-size: $fs-16;
                        font-weight: 400;
                        color: var(--clr-primary);
                        text-align: center;
                        outline: 1pt solid var(--clr-primary);
                        border-radius: $border-radius-small;
                        background: none;
                        cursor: pointer;
                        &.checked {
                            color: $clr-white;
                            outline: none;
                            background: var(--clr-primary);
                        }
                    }    
                }
            }
        }
        
        #submit {
            display: block;
            margin: calc($formGap * 2) auto;
            min-width: 250px;
            font-size: $fs-16;
            &:disabled {
                color: $clr-gray-dark;
                background: $clr-gray-lighter;
                cursor: auto;
            }
        }
    }

    /* Desktop specific styles */
    @media (width >= $desktop) {
        #bookingSummary {
            position: sticky;
            top: 1rem;
        }
    }

    /* Mobile specific styles */
    @media (width <= $mobile) {
        .checkoutBody {
            margin-bottom: 240px;
        }
        .checkoutMainContainer .roomInfoContainer {
            grid-template-columns: 1fr;
            .roomPic {
                aspect-ratio: 16/9;
            }
        }
    }
}