@import './reset';
@import './variables.scss';
@import './utilities';

@import './abstract/fonts/inter';

#checkoutMinimal {
    /* Enforce our styles over third party stuff */
    font-family: $font !important;
    color: $clr-black !important;
    ul, ol {
        list-style: none !important;
    }
    button {
        font-family: $font !important;
        background: none !important;
        border: none !important;
        cursor: pointer !important;
    }
    a, input, select, option {
        font-weight: unset;
    }
    :where(h1, h2, h3, h4, h5, h6) {
        font-size: inherit;
        font-weight: unset;
    }
    :where(img, svg, video, picture, figure, iframe, canvas) {
        max-width: 100%;
    }

    header {
        background: var(--clr-primary);
    }
    .innerHeader {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem;
        a {
            color: $clr-white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &.propertyName {
                font-size: 1.25rem;
                font-weight: $fw-bold;
                &:hover {
                    text-decoration: none
                }
            }
        }
    }
    .checkoutMainContainer {
        @extend %container;
        padding-block: 1rem;

        /* Progress bar */
        .checkoutProgress {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: $formGap;

            // Step counter (it's overriden by checkmarks when a step is completed)
            & .step > div::before {
                font-size: $fs-20;
                color: var(--clr-primary);
            }
            & .step:nth-of-type(1) > div::before {
                content: '1';
            }
            & .step:nth-of-type(2) > div::before {
                content: '2';
            }
            & .step:nth-of-type(3) > div::before {
                content: '3';
            }

            .step {
                display: flex;
                align-items: center;
                gap: $formGap;
                > div {
                    border-radius: $round;
                    aspect-ratio: 1;
                    height: 25px;
                    outline: 1pt solid var(--clr-primary);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &.completed > div {
                    color: $clr-white;
                    background-color: var(--clr-primary);
                    outline: none;
                    &::before {
                        content: '✓' !important;
                        color: $clr-white;
                    }
                }
            }
            .arrow {
                position: relative;
                width: 125px;
                height: 3px;
                background-color: darken($clr-gray-light, 25%);
                color: darken($clr-gray-light, 25%);
                &:after {
                    content: '➤';
                    position: absolute;
                    right: -10px;
                    top: -13px;
                    color: inherit; /* Graid out or colored if a step has been completed */
                }
                &.completed {
                    background-color: var(--clr-primary);
                    color: var(--clr-primary);
                }
            }
        }
        
        .roomInfoContainer {
            display: grid;
            grid-template-columns: 300px 1fr;
            margin-bottom: 20px;
            outline: 1pt solid $clr-gray-light;
            border-radius: $border-radius-regular;
            overflow: hidden;
            .roomInfo {
                padding: calc($padding-regular *2);
                .roomInfoTitle {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    margin-bottom: 15px;
                    word-wrap: none;
                    word-break: keep-all;
                    .roomInfoName {
                        font-size: $fs-22;
                    }
                    .roomInfoOccupancy {
                        font-size: $fs-14;
                        color: $clr-gray-regular;
                    }
                }
                .roomInfoDescription {
                    max-height: 110px;
                    font-size: $fs-14;
                    color: $clr-gray-dark;
                    line-height: 1.25;
                    scrollbar-width: thin;
                    overflow: hidden;
                }
            }
            .roomPic {
                width: 100%;
                aspect-ratio: 8/5;
                object-fit: cover;
                object-position: center;
            }
        }

        > div {
            height: fit-content;
            border-radius: $border-radius-regular;
            overflow: hidden;
            outline: 1pt solid $clr-gray-light;
            .sectionTopBar {
                padding: $padding-regular;
                font-size: $fs-20;
                background-color: $clr-gray-lighter;
            }
            section {
                padding: $padding-big $padding-regular;
                outline: 1pt solid $clr-gray-light;
            }
        }
    }

    #bookingSummary {
        @extend %container;
        position: fixed;
        max-width: 95%;
        left: 2.5%;
        right: 2.5%;
        bottom: 15px;
        background: white;
        section {
            .stayDates {
                font-size: $fs-20;
            }
            .summaryInfoSmall {
                font-size: $fs-14;
                color: $clr-gray-regular;
                &.privacyPolicy {
                    display: block;
                    margin-top: 10px;
                    text-align: center;
                    a {
                        color: inherit;
                        text-decoration: underline;
                    }
                }
            }
            .summaryRow {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-block: $padding-regular;
            }
            #summaryDetailsButton {
                position: relative;
                .summaryArrow {
                    position: absolute;
                    top: 0;
                    right: -20px;
                    display: block;
                    transition: $transition-time;
                }
                &.open .summaryArrow {
                    transform: rotate(-0.5turn);
                }
            }
            .summaryDetails {
                margin-block: 5px;
                
                /* "Accordion" animation */
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows $transition-time;
                > div {
                    overflow: hidden;
                }
                &.open {
                    grid-template-rows: 1fr;
                }

                .deleteThis {
                    color: $clr-red;
                }
                .summaryRow {
                    font-size: $fs-16;
                }
                .summarySeparator {
                    display: block;
                    margin: 10px auto;
                    width: 90%;
                    height: 2px;
                    background: $clr-gray-regular;
                }
            }
            .totalFinal {
                font-size: $fs-22;
            }
        }
    }

    #checkoutForm {
        fieldset {
            border: none;
            padding: 0;
            legend {
                margin-block: 10px;
                font-size: $fs-20;
                font-weight: normal;
            }
            .formRow {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                gap: $formGap;
                margin-block: $formGap;
                > label {
                    /* Keeps uniformity when the form adapts responsively */
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 175px; /* Set a uniform initial size */
                    min-width: 0; /* Ensure proper shrinking */
                    > :is(input, select, textarea) {
                        width: 100%;
                        padding: $padding-small;
                        font-family: $font;
                        font-size: $fs-16;
                        font-weight: normal;
                        background: $clr-white;
                        border-radius: $border-radius-small;
                        border: none;
                        outline: 1pt solid $clr-gray-light;
                    }
                    /* Chrome, Safari, Edge, Opera */
                    input[type="number"]::-webkit-outer-spin-button,
                    input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    /* Firefox */
                    input[type="number"] {
                        -moz-appearance: textfield;
                    }
                    textarea {
                        resize: vertical;
                        min-height: 1.5rem;
                        max-height: 7.5rem;
                    }
                }
            }
        }

        /* ROOM OPTIONS AND EXTRAS */
        .addonContainers {
            margin-block: $formGap;
            display: flex;
            justify-content: space-evenly;
            gap: $formGap;
            flex-wrap: wrap;
        }

        .addonContainer {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 45%;


            padding: $padding-regular;
            outline: 1pt solid $clr-gray-light;
            border-radius: $border-radius-small;
            .addonTitle {
                display: block;
                margin-bottom: 0.5rem;
                font-size: $fs-20;
            }
            .addonDetails {
                display: flex;
                justify-content: space-between;
                .addonPriceAmount {
                    font-size: $fs-18;
                }
                .addonInfoSmall {
                    font-size: $fs-14;
                    color: $clr-gray-regular;
                }
            }
        }

        #submit {
            display: block;
            margin-inline: auto;
            min-width: 250px;
            font-size: $fs-16;
            &:disabled {
                color: $clr-gray-dark;
                background: $clr-gray-lighter;
                cursor: auto;
            }
        }
    }

    @media (width >= $desktop) {
        .checkoutMainContainer {
            display: grid;
            grid-template-columns: 1fr minmax(320px, 30%);
            gap: 1rem
        }
        #bookingSummary {
            position: sticky;
            top: 1rem;
        }
    }

    @media (width <= $mobile) {
        .checkoutBody {
            margin-bottom: 240px;
        }
        .checkoutMainContainer .roomInfoContainer {
            grid-template-columns: 1fr;
            .roomPic {
                aspect-ratio: 16/9;
            }
        }
    }
}