/* Extends */
%container {
    margin-inline: auto;
    width: min(75rem, calc(100% - 1rem));
}

/* Mobile Only and Desktop Only */
@media(width <= $mobile) {
    .desktopOnly {
        display: none !important;
    }
}
@media(width >= $mobile) {
    .mobileOnly {
        display: none !important;
    }
}